@import "~src/css/colors";

.card {
  width: 80%;
  background-color: #ffffff;
  min-height: 120px;
  border-radius: .3rem;
  box-shadow: 0 0 10px $color-non-selected;
  position: relative;
  margin: 20px auto 20px auto;
}

.title {
  display: block;
  columns: $color-primary;
  font-size: 2rem;
  margin: 0 35px 0 35px;
  line-height: 60px;
  border-bottom: solid 1px $color-non-selected;
  color: $color-primary;
}

.footer{
  height: 30px;
}

.content-wrapper{
  margin: 25px 35px 0 35px;
}
