<div class="dp-textarea-container">
  <div class="elem-organize-flex">
    <label [for]="id" class="dp-textarea-label" [ngClass]="{'dp-invalid': errorMessage}">{{label}}</label>
    <textarea class="dp-textarea-field"
              [id]="id"
              hint="hint"
              [value]="value"
              (keyup)="onChange($event)"
              (blur)="onBlur()"
              [placeholder]="placeholder"
              [rows]="rows"
              (maxlength)="maxlength"
    ></textarea>
    <div class="dp-validation-message" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>
  <div class="hints-wrapper">
    <div class="dp-hint">{{hint}}</div>
    <div class="dp-counter" [ngClass]="{'dp-invalid': errorMessage}"> {{characters}}/{{maxlength}}</div>
  </div>
</div>
