@import "~src/css/colors";
@import "~src/css/breakpoints";

.dp-textarea-container {
  margin-bottom: 25px;
  @media (max-width: $mobile-large) {
    margin-bottom: 5px;
  }
}

.elem-organize-flex {
  display: flex;
  position: relative;
  @media (max-width: $mobile-large) {
    flex-direction: column;
  }
}

.dp-textarea-label {
  line-height: 2.2rem;
  width: 150px;
  color: $color-secondary;
}

.dp-textarea-field {
  flex: 1;
  min-width: 40px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Calibri, serif;
  color: $color-font;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $color-non-selected;
  border-radius: .15rem;
  transition: .2s ease-in-out;
  resize: none;

  &:focus {
    color: $color-font;
    background-color: #fff;
    border-color: $color-secondary;
    outline: 0;
  }
  &::placeholder {
    color: $color-non-selected;
    opacity: 1;
  }
}

.dp-validation-message {
  position: absolute;
  bottom: 114px;
  right: -132px;
  font-size: 0.7rem;
  line-height: 20px;
  text-align: center;
  height: 20px;
  width: 123px;
  background-color: $color-invalid;
  color: white;
  border-radius: .1rem;
  margin-left: 1rem;
  @media (max-width: $mobile-large){
    bottom: 143px;
    right: 0;
  }
}

.dp-validation-message:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: $color-invalid;
  border-width: 6px;
  margin-top: -6px;
  transition: 0.2s;
  @media (max-width: $mobile-large) {
    right: 5px;
    top: 130%;
    border-right-color: transparent;
    border-top-color: $color-invalid;
  }
}

.hints-wrapper {
  position: relative;
  margin-left: 150px;
  height: .9rem;
  @media (max-width: $mobile-large) {
    margin-left: 0;
  }
}

.dp-hint {
  float: left;
  color: $color-non-selected;
  font-style: italic;
  font-size: .9rem;
}

.dp-counter {
  float: right;
  color: $color-non-selected;
  font-style: italic;
  font-size: .9rem;
}

:host(.error) {
  textarea {
    border: 1px solid $color-invalid;
  }
}

.dp-invalid {
  color: $color-invalid;
}
