@import "~src/css/colors";

.message-area {
  width: 100%;
  height: 100px;
  background-color: $color-success-box;
  margin: 25px auto 25px auto;
  border-radius: .3rem;
  box-shadow: 0 0 10px $color-non-selected;
}

.message-title {
  font-size: 2rem;
  color: $color-success;
  padding-left: 30px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.message-content {
  padding-left: 30px;
  font-weight: 400;
}
