<app-card title="About">
  <form [formGroup]="aboutFg">
    <app-dp-input-field formControlName="titleCustom"
                        id="title"
                        [class.error]="isControlInvalid('titleCustom')"
                        label="TITLE"
                        [errorMessage]="getErrorMessageOfControl('titleCustom')"
                        placeholder="Make it short and clear">
    </app-dp-input-field>
    <br>

    <app-dp-textarea-field formcontrolname="descriptionCustom"
                           id="description"
                           [class.error]="isControlInvalid('descriptionCustom')"
                           label="DESCRIPTION"
                           hint="Max length 140 characters"
                           [errorMessage]="getErrorMessageOfControl('descriptionCustom')"
                           placeholder="Write about your event, be creative"
                           rows="5"
    ></app-dp-textarea-field>
    <br>

    <app-dp-select-field fromControlName="selectCustom"
                         id="eventCategory"
                         [class.error]="isControlInvalid('selectCustom')"
                         [options]="eventsService.getEventCategories()"
                         label="CATEGORY"
                         hint="Describes topic and people who should be interested in this event"
                         [errorMessage]="getErrorMessageOfControl('selectCustom')"
    >
    </app-dp-select-field>
    <br>
    <div class="payment-wrapper">
      <div class="payment-label">
        PAYMENT
      </div>
      <label class="container">
        <input type="radio" name="payment" value="freeEvent" checked>Free&nbsp;event<br>
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" name="payment" value="paidEvent">Paid&nbsp;event<br>
        <span class="checkmark"></span>
      </label>
      <app-dp-input-field formControlName="costCustom"
                          id="cost"
                          [class.error]="isControlInvalid('costCustom')"
                          [errorMessage]="getErrorMessageOfControl('costCustom')"
                          placeholder="Free">
      </app-dp-input-field>$
    </div>
    <br>
    <button (click)="save()">Submit form</button>
  </form>

  <!--<pre>{{ aboutFg.value | json }}</pre>-->
</app-card>
