<form [formGroup]="aboutFg">
  <app-card title="About">
    <app-dp-input-field formControlName="titleCustom"
                        id="title"
                        [class.error]="isControlInvalid('titleCustom')"
                        label="TITLE"
                        [errorMessage]="getErrorMessageOfControl('titleCustom')"
                        placeholder="Make it short and clear">
    </app-dp-input-field>
    <br>

    <app-dp-textarea-field formControlName="descriptionCustom"
                           id="description"
                           [class.error]="isControlInvalid('descriptionCustom')"
                           label="DESCRIPTION"
                           hint="Max length 140 characters"
                           [errorMessage]="getErrorMessageOfControl('descriptionCustom')"
                           placeholder="Write about your event, be creative"
                           rows="5"
    ></app-dp-textarea-field>
    <br>

    <app-dp-select-field formControlName="selectCustom"
                         id="eventCategory"
                         [class.error]="isControlInvalid('selectCustom')"
                         [options]="eventsService.getEventCategories()"
                         label="CATEGORY"
                         hint="Describes topic and people who should be interested in this event"
                         [errorMessage]="getErrorMessageOfControl('selectCustom')"
                         placeholder="Select category">
    </app-dp-select-field>
    <br>
    <div class="payment-wrapper">
      <div class="payment-label">
        PAYMENT
      </div>
      <label class="container">
        <input type="radio" name="payment" formControlName="payment" value="freeEvent" checked>Free&nbsp;event<br>
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" name="payment" formControlName="payment" value="paidEvent">Paid&nbsp;event<br>
        <span class="checkmark"></span>
      </label>
      <app-dp-input-field formControlName="costCustom"
                          id="cost"
                          [class.error]="isControlInvalid('costCustom')"
                          [errorMessage]="getErrorMessageOfControl('costCustom')"
                          placeholder="Fee">
      </app-dp-input-field>
      <div class="sidenote">$</div>
    </div>
    <br>
    <div class="scootch-container">
      <app-dp-input-field formControlName="rewardCustom"
                          id="reward"
                          [class.error]="isControlInvalid('rewardCustom')"
                          label="REWARD"
                          [errorMessage]="getErrorMessageOfControl('rewardCustom')"
                          placeholder="Number"
                          class="field-scootch">
      </app-dp-input-field>
      <div class="sidenote">reward points for attendance</div>
    </div>

  </app-card>

  <app-card title="Coordinator">
    <app-dp-select-field formControlName="responsibleCustom"
                         id="responsible"
                         [class.error]="isControlInvalid('responsibleCustom')"
                         [options]="employeesService.getEmployees()"
                         label="RESPONSIBLE"
                         [errorMessage]="getErrorMessageOfControl('responsibleCustom')"
                         [preselection]="employeesService.getEmployees()[2]">
    </app-dp-select-field>
    <br>

    <app-dp-input-field formControlName="emailCustom"
                        id="email"
                        [class.error]="isControlInvalid('emailCustom')"
                        label="EMAIL"
                        [errorMessage]="getErrorMessageOfControl('emailCustom')"
                        placeholder="Email">
    </app-dp-input-field>

  </app-card>

  <app-card title="When">

    <app-dp-input-field formControlName="startsOnDateCustom"
                        type="time"
                        id="startsOnDate"
                        [class.error]="isControlInvalid('startsOnDateCustom')"
                        label="STARTS ON"
                        [errorMessage]="getErrorMessageOfControl('startsOnDateCustom')"
                        placeholder="dd/mm/yyyy"
    >
    </app-dp-input-field>
    <br>
    <div class="scootch-container">
      <app-dp-input-field formControlName="durationCustom"
                          type="text"
                          id="duration"
                          [class.error]="isControlInvalid('durationCustom')"
                          label="DURATION"
                          [errorMessage]="getErrorMessageOfControl('durationCustom')"
                          placeholder="Number"
                          class="field-scootch">
      </app-dp-input-field>
      <div class="sidenote">hour</div>
    </div>


  </app-card>
</form>

<button class="form-submit-btn" (click)="save()">PUBLISH EVENT</button>

<br>
<pre>{{ aboutFg.value | json }}</pre>
<br>
