@import "~src/css/colors";

.inline-wrapper {
  display: flex;
  line-height: 2.2rem;

  & input {
    position: absolute;
    opacity: 0;
  }
}

.payment-label {
  line-height: 2.2rem;
  width: 150px;
  color: $color-secondary;
}

.field-scootch {
  min-width: 230px
}

.sidenote {
  line-height: 2.2rem;
  margin: 0 12px 0 12px;
}

.form-submit-btn {
  display: block;
  background-color: $color-accent;
  color: #ffffff;
  border: none;
  border-radius: 0.2rem;
  height: 45px;
  line-height: 45px;
  width: 140px;
  margin: 24px auto 24px auto;
  transition: 0.2s;

  &:hover {
    background-color: lighten($color-accent, 5%);
    cursor: pointer;
    box-shadow: 0 0 10px $color-non-selected;
  }

  &:active {
    background-color: darken($color-accent, 10%);
  }

  &:focus {
    outline: 0;
  }
}

.date-field {
  min-width: 320px;
  flex: 1;
}

.time-field {
  min-width: 100px;
  flex: 1;
  margin-right: 15px;
}

// -------------Custom ratio buttons-----------

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  margin-right: 20px;
  cursor: pointer;
  color: $color-font;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  height: 14px;
  width: 14px;
  border: solid 1px $color-secondary;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $color-secondary;
}

//------------------------------------------------
