<div class="dp-input-container">
  <div class="elem-organize-flex">
    <label *ngIf="label" [for]="fieldId" class="dp-input-label" [ngClass]="{'dp-invalid': errorMessage}">{{label}}</label>
    <input class="dp-input-field"
           [type]="type"
           [max]="max"
           [min]="min"
           [id]="fieldId"
           hint="hint"
           [value]="value"
           (keyup)="onChange($event)"
           (change)="onChange($event)"
           (blur)="onBlur()"
           [placeholder]="placeholder"
    >
    <div class="dp-validation-message" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>
</div>
<div class="dp-hint">{{hint}}</div>
