<div class="dp-input-container">
  <label *ngIf="label" [for]="id" class="dp-input-label" [ngClass]="{'dp-invalid': errorMessage}">{{label}}</label>
  <input class="dp-input-field"
         type="text"
         [id]="id"
         hint="hint"
         [value]="value"
         (keyup)="onChange($event)"
         (blur)="onBlur()"
         [placeholder]="placeholder"
         >
  <div class="dp-validation-message" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>
<div class="dp-hint">{{hint}}</div>
