//Variables
$color-primary: #355990;
$color-secondary: #8ca2c2;
$color-dark: #1e3b68;
$color-accent: #ff8e1d;
$color-back: #f7f7f7;
$color-non-selected: #d8d8da;
$color-invalid: #ffb2b2;
$color-success: #70bf75;
$color-success-box: #f0fcf3;
$color-font: #767676;
