@import "css/reset";
@import "css/breakpoints";
@import "~src/css/colors";

.main-content {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $mobile-small) {
  .main-content {
    max-width: 420px
  }
}

@media (min-width: $mobile) {
  .main-content {
    max-width: 480px
  }
}

@media (min-width: $mobile-large) {
  .main-content {
    max-width: 720px
  }
}

@media (min-width: $tablet) {
  .main-content {
    max-width: 760px
  }
}

@media (min-width: $desktop) {
  .main-content {
    max-width: 800px
  }
}

body {
  font-family: calibri, sans-serif;
  color: $color-font;
  background-color: $color-back;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}



