<div class="dp-select-container">
  <div class="elem-organize-flex">
    <label [for]="fieldId" class="dp-select-label" [ngClass]="{'dp-invalid': errorMessage}">{{label}}
      <span *ngIf="required" class="mark-required">
        *
      </span>
    </label>
    <select class="dp-select-field"
            [id]="fieldId"
            [required]="required"
            hint="hint"
            [value]="value"
            (keyup)="onChange($event)"
            (change)="onChange($event)"
            (blur)="onBlur()"
            (options)="options"
            placeholder="placeholder"
            preselection="preselection"
    >
      <!--Select version with logged in user preselected-->
      <optgroup *ngIf="preselection" label="Me">
        <option value="{{preselection.id}}">Me - {{preselection.name}} {{preselection.lastname}}</option>
      </optgroup>

      <!--Select version with placeholder-->
      <ng-template [ngIf]="!preselection" [ngIfElse]="withPreselection">
        <option *ngIf="placeholder" disabled value="">{{placeholder}}</option>
        <option *ngFor="let option of options" value="{{option.id}}">{{option.name}}</option>
      </ng-template>

      <!--Continue options if preselection is defined-->
      <ng-template #withPreselection>
        <optgroup label="Others">
          <option *ngFor="let option of processedOptions" value="{{option.id}}">{{option.name}} {{option.lastname}}</option>
        </optgroup>
      </ng-template>
    </select>
    <div class="dp-validation-message" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>
  <div class="dp-hint">{{hint}}</div>
</div>
